<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :league %>
    <%= f.input :name %>
    <%= f.input :wins %>
    <%= f.input :losses %>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary' %>
  </div>

<% end %>
