<section class = "put-margin">
<p><br></p>
<p id="notice"><%= notice %></p>

<h1>Your Teams</h1>

<section>
  <div>
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @teams.each do |team| %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading do-wrap"><h4><%= team.name %> <div class = "circle"><%= image_tag(team.image_url(:thumb).to_s) %> </div></h4></div>
   			        <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item"><strong>Wins: </strong> <%= team.wins %></li>
                    <li class="list-group-item"><strong>Losses: </strong> <%= team.losses %></li>
                    <li class="list-group-item"><%= link_to "More ", team_path(team) %></li>
                  </ul>
                </div>
   		       </div>
          </div>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>
</section>

<%= button_to "Go To Your Leagues", leagues_path, :class => "btn-mid center-block link", :method => :get %>

</section>
