<section class = "put-margin">
<p><br></p>
<p id="notice"><%= notice %></p>

<p style = 'font-size: 4rem' class = "text-center">
  <strong>Name:</strong>
  <%= @team.name %>
  <span class = "circle"><%= image_tag(@team.image_url(:thumb).to_s) %> </span>
</p>

<p style = 'font-size: 3rem' class = "text-center">
  <strong>Wins / Losses: </strong>
  <%= @team.wins %>W / <%= @team.losses %>L
</p>
<%= showLeave(current_user, @team) %>
<br>
<section>
  <p style = 'font-size: 2rem'>
    <strong>People:</strong>
  </p>
  <div>
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4">
            <h3> <%= user.name %> <span class = "circle"> <%= image_tag(user.image_url(:thumb).to_s) %> </span></h3>
            <%= showDestroy(current_user, @team, user) %>
            <%= showOptions(current_user, @team, user) %>
          </div>
        <% end %>
      </div>
      <p><br></p>
    </div>
  </div>
  <%= invite(current_user, @team) %>
  <p><br></p>
</section>

<section>
  <p style = 'font-size: 2rem'>
    <strong>Upcoming Games:</strong>
  </p>
  <div>
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @games.each do |game| %>
          <% if game.end > DateTime.current %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>Starting at: </h4><h4><%= game.start.strftime("%-m/%-d/%y: %H:%M %Z") %> </h4></div>
   			        <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item"><strong>Home: </strong><%= game.home_team.name %></li>
                    <li class="list-group-item"><strong>Away: </strong><%= game.away_team.name %></li>
                    <li class="list-group-item"><strong>Score: </strong>TBD</li>
                    <li class="list-group-item"><%= link_to "More ", game_path(game) %></li>
                  </ul>
                </div>
   		       </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <p><br></p>
</section>

<section>
  <p style = 'font-size: 2rem'>
    <strong>Past Games:</strong>
  </p>
  <div>
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @games.each do |game| %>
          <% if game.end < DateTime.current %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>Started at: </h4><h4><%= game.start.strftime("%-m/%-d/%y: %H:%M %Z") %> </h4></div>
   			        <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item"><strong>Home: </strong><%= game.home_team.name %></li>
                    <li class="list-group-item"><strong>Away: </strong><%= game.away_team.name %></li>
                    <li class="list-group-item"><strong>Score: </strong><%= game.home_score %> / <%= game.away_score %></li>
                    <li class="list-group-item"><%= link_to "More ", game_path(game) %></li>
                  </ul>
                </div>
   		       </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<br>

<%= addGame(current_user, @team) %>

<p><br></p>

<%= showEdit(current_user, @team) %>
<%= button_to "Go To League", league_path(@team.league), :class => "btn-mid center-block", :method => :get %>
<p><br></p>

</section>
