<section>
<%= simple_form_for(@league) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.file_field :image %>
    <p><br></p>
    <%= f.input :name %>
    <%= f.input :location %>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Team Name</th>
        <th>Team Icon</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :teams do |builder| %>
        <%= render 'team', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary' %>
    <%= link_to_add_row('Add Team', f, :teams, class: 'btn btn-primary') %>
  </div>
<% end %>
</section>
