<section class = "put-margin">
<p><br></p>
<h1>Edit your League</h1>

<%= render 'form', league: @league %>

<p><br></p>
<%= link_to 'Show', @league %> |
<%= link_to 'Back', leagues_path %>

</section>
