<section class = "put-margin">
<p><br></p>
<p id="notice"><%= notice %></p>

<h1>Leagues You Own</h1>

<section>
  <div>
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @leagues.each do |league| %>
          <div class="col-lg-3">
            <div class="panel panel-default">
              <div class="panel-heading clearfix do-wrap"><h4><span class = "valign do-wrap"><%= league.name %> </span><div class = "circle pull-right"><%= image_tag(league.image_url(:thumb).to_s) %> </div></h4></div>
   			        <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item"><strong>Location:</strong> <%= league.location %></li>
                    <li class="list-group-item"><%= link_to "More ", league_path(league) %><%= link_to 'Edit ', edit_league_path(league) %> <%= link_to 'Remove', league, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                </div>
   		       </div>
          </div>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>
</section>

<%= button_to "Create New League", new_league_path, :class => "btn-mid center-block", :method => :get %>

<%= button_to "Go To Your Teams", teams_path, :class => "btn-mid center-block", :method => :get %>

</section>

<p><br></p>
