<section class = "put-margin">
<br>
<p id="notice"><%= notice %></p>

<p style = 'font-size: 4rem' class = "text-center">
  <strong>Name:</strong>
  <%= @league.name %>
  <span class = "circle"><%= image_tag(@league.image_url(:thumb).to_s) %></span>
</p>

<p style = 'font-size: 3rem' class = "text-center">
  <strong>Location:</strong>
  <%= @league.location %>
</p>
<br>
<section>
  <div class>
    <div class="container-fluid d-flex justify-content-center">
      <div class="row">
        <% @teams.each do |team| %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading clearfix do-wrap"><h4><span class = "valign do-wrap"><%= team.name %></span> <div class = "circle pull-right"><%= image_tag(team.image_url(:thumb).to_s) %> </div></h4></div>
   			        <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">Wins: <%= team.wins %></li>
                    <li class="list-group-item">Losses: <%= team.losses %></li>
                  </ul>
                  <% if policy(@league).more? || current_user.teams.exists?(team.id) %>
                    <%= link_to "More ", team_path(team) %>
                  <% end %>
                </div>
   		       </div>
          </div>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>
</section>

<div class="container">
  <h2 class = "text-center">Current Statistics</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.wins %></td>
          <td><%= team.losses %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br><br>

<%= showEdit(current_user, @league) %>
<%= button_to "Back To All Leagues", leagues_path, :class => "btn-mid center-block", :method => :get %>


</section>
<br>
