<section class = "put-margin">
<div class="container" id="sign-up-form">
  <div class="row d-flex">
    <div class="p-2 flex-fill justify-content-center">
      <h2><strong>Change You Account Information</strong></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-inputs">

      <div class = "field">
        <%= f.label :name%><br />
        <%= f.email_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <br>

      <div class = "field">
        <%= f.label :email%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <br>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <br>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <br>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image, class: "center-block" %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Update", class: "form-control" %>
      </div>
      <% end %>

      <br>

      <h3><strong>Cancel my account</strong></h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "form-control" %></p>

    </div>

    </div>
  </div>
</div>

</section>
