<section class = "put-margin">
<div class="container" id="sign-up-form">
  <div class="row d-flex">
    <div class="p-2 flex-fill justify-content-center">
      <h3>Sign up!</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-inputs">
          <p><br></p>
          <%= f.text_field :name, placeholder: 'full name (will be shown publicly)', class: 'form-control' %>
          <br>
          <%= f.text_field :email, placeholder: 'email', class: 'form-control' %>
          <br>
          <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
          <br>
          <%= f.password_field :password_confirmation, placeholder: 'password confirmation', class: 'form-control' %>
          <br>
          <%= f.file_field :image, label: "Profile Picture" %>
          <br>
          <%= f.submit 'Sign up', class: 'form-control login-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</section>
