
//all the defaults for the app
* {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    background: $backgroundColor;
    font-size: 14px;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 50px;
  }

  i {
    width: 26px;
  }

  ul {
    list-style-type: none;
  }

  a:hover, a:active, a:link, a:visited {
    text-decoration: none;
  }

  .put-margin {
    margin-right: 15%;
    margin-left: 15%;
  }

  .control-label {
    display: none;
  }
