<section>
		<div class="no-margin">
			<div class = "ooylLogo">
				<%= image_tag("outofyourleaguepicture.png", :class => "center-block img-responsive") %>
			</div>
		</div>

</section>

<p><br></p>

  <h3 class = "homepage put-margin text-center">Have you ever wanted the ability to manage your own sport league but didn't want to go through the hassle of a setting up a complicated program?
    Well then Out Of Your League is perfect for you. Out Of Your League allows you to create a league, create teams for the league, and invite players all with a few simple clicks!
		Whether you are looking to organize a league filled with the best players in the area, or just a simple way to get together with your friends, Out Of Your League is the way to go! </h3>
    <p><br></p>

    <div class = "container">

    </div>

		<%= button_to "Create A New League", new_league_path, :class => "btn-big center-block", :method => :get %>
</ul>

<p><br></p>
