<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :start, as: :date_time_picker %>
    <%= f.input :end, as: :date_time_picker %>
    <%= f.input :field %>
    <%= f.input :home_score %>
    <%= f.input :away_score %>
  </div>

  <h3><br>Goals, Yellow Cards, Red Cards</h3>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Team</th>
        <th>Player</th>
        <th>Reason (if goal write N/A)</th>
        <th>Minute</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :events do |builder| %>
        <%= render 'event', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary' %>
    <%= link_to_add_row('Add Event', f, :events, class: 'btn btn-primary') %>
  </div>
<% end %>
