<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.input :team, label: false %></td>
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :reason, label: false %></td>
  <td><%= f.input :minute, label: false %></td>
  <td><%= f.select :kind, ['Goal', 'Yellow Card', 'Red Card']%></td>
</tr>
