<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :start, as: :date_time_picker %>
    <%= f.input :end, as: :date_time_picker %>
    <%= f.input :field %>
    <%= f.association :home_team, :collection => @the_teams %>
    <%= f.association :away_team, :collection => @the_teams %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary' %>
  </div>
<% end %>
