<p><br></p>

<section class = "put-margin">

<p id="notice"><%= notice %></p>

<h1 class = "text-center">
  <strong><%= @game.home_team.name %> vs. <%= @game.away_team.name %></strong>
</h1>

<h2 class = "text-center">
  <strong>At: </strong><%= @game.start.strftime("%-m/%-d/%y: %H:%M %Z") %>
</h2>

<h2 class = "text-center">
  <strong><%= @game.home_team.name %> score:</strong>
  <%= @game.home_score %>
</h2>

<h2 class = "text-center">
  <strong><%= @game.away_team.name %> score:</strong>
  <%= @game.away_score %>
</h2>

<p><br></p>

<div class = "container">
  <div class = "row">
    <div class = "col-lg-4">
      <h2 class = "text-center"><strong>Goals</strong></h2>
        <% @events.each do |event| %>
          <% if event.kind == 'Goal' %>
            <h3 class = "text-center">----------------------------------------------</h3>
            <h3 class = "text-center"><strong>Team: </strong><%= event.team %></h3>
            <h3 class = "text-center"><strong>Player: </strong><%= event.name %> </h3>
            <h3 class = "text-center"><strong>Minute: </strong><%= event.minute %> </h3>
          <% end %>
        <% end %>
        <p><br></p>
      </div>

      <div class = "col-lg-4">
        <h2 class = "text-center"><strong>Yellow Cards</strong></h2>
          <% @events.each do |event| %>
            <% if event.kind == 'Yellow Card' %>
              <h3 class = "text-center">----------------------------------------------</h3>
              <h3 class = "text-center"><strong>Team: </strong><%= event.team %></h3>
              <h3 class = "text-center"><strong>Player: </strong><%= event.name %> </h3>
              <h3 class = "text-center"><strong>Reason: </strong><%= event.reason %> </h3>
              <h3 class = "text-center"><strong>Minute: </strong><%= event.minute %> </h3>
            <% end %>
          <% end %>
          <p><br></p>
        </div>

        <div class = "col-lg-4">
          <h2 class = "text-center"><strong>Red Cards</strong></h2>
            <% @events.each do |event| %>
              <% if event.kind == 'Red Card' %>
                <h3 class = "text-center">----------------------------------------------</h3>
                <h3 class = "text-center"><strong>Team: </strong><%= event.team %></h3>
                <h3 class = "text-center"><strong>Player: </strong><%= event.name %> </h3>
                <h3 class = "text-center"><strong>Reason: </strong><%= event.reason %> </h3>
                <h3 class = "text-center"><strong>Minute: </strong><%= event.minute %> </h3>
              <% end %>
            <% end %>
            <p><br></p>
          </div>
    </div>
  </div>


<%= editGame(current_user, @game) %>
<%= showDelete(current_user, @game) %>
<% if(policy(@game.home_team).inTeam?) %>
  <%= button_to "Go To Home Team", team_path(@game.home_team), :class => "btn-mid center-block", :method => :get %>
<% end %>
<% if(policy(@game.away_team).inTeam?) %>
  <%= button_to "Go To Away Team", team_path(@game.away_team), :class => "btn-mid center-block", :method => :get %>
<% end %>
<br>


</section>
