<p><br></p>
<div class="container">
  <div class="row d-flex">
    <div class="p-2 flex-fill justify-content-center">
      <h2 class="text-center">Log in</h2>

        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>

          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>

          <%= f.password_field  :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>

          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
          <% end -%>

          <%= f.submit "Log in", class: 'form-control login-button' %>
        <% end %>

    </div>
  </div>
</div>
