//just some simple css for the sign up sheet
#sign-up-form {
    margin-top: 100px;
    h1 {
      font-size: 36px !important;
      font-size: 3.6rem !important;
    }
    text-align: center;
    padding-bottom: 20px;
  }
