// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ooylLogo {
  background-image: image-url('backgroundthing.png');
  width:100%;
  height: 400px;
}

.btn-big {
  color: black;
  font-size: 30px;
}

.btn-mid {
  color: black;
  font-size: 20px;
}

.btn-small {
  color: black;
  font-size: 15px;
}

.btn-primary {
  color: black;
  background-color: white;
  border-color: gray;
}

.btn-primary:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: transparent;
  color: black;
}

.btn-small:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-mid:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-big:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle {
	line-height: 0;
	display: inline-block;
	margin: 5px;
	border-radius: 50%;
	border: 3px solid white;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	transition: linear 0.25s;
  right: 50px;
}
.circle img {
	border-radius: 50%;
}
.circle:hover {
	transition: ease-out 0.3s;
	transform: scale(0.8) rotate(20deg);
}
a.circle { color: transparent; } /* fix blue border */

.do-wrap {
  word-wrap: break-word;
}

.valign {
  height: 70px;
  line-height: 70px;
  white-space: nowrap;
}

.link
{
   color: black;
   text-decoration: none;
   background-color: none;
}

.navbar-collapse {
  background: $navbarColor;
}
