// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#invitation {
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  top: 20px;
}
