<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-right" id="myNavbar">
    <ul class="nav navbar-nav ">
    <% if user_signed_in? %>
        <li class="active pc-menu">
                <li><%= link_to 'Leagues', leagues_path %> </li>
                <li><%= link_to 'Teams', teams_path %> </li>
                <li><%= link_to 'Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        </li>
    <% else # user not signed it %>
        <li ><%= link_to 'Login', new_user_session_path %></li>
        <li ><%= link_to 'Signup', new_user_registration_path %></li>
    <% end # if user is signed it %>
    </ul>
</div><!-- navbar-collapse -->
