<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="thelogo">
    <%= link_to root_path do %>
  	   <%= image_tag("ooyllogo2.png")  %>
    <% end %>
  </a>
</div>
